body {
  overflow: hidden;
}
img,canvas {
  image-rendering: pixelated;
}
#Graphicsvisulator, #Gridvisulator {
  position: absolute;
}
#Graphicsvisulator {
  z-index: 999;
}
#canvas_holder {
  position: relative;
  background-color: white;
  /*top:100px*/
}
