#right-sidebar {
  float:right;
  width:250px;
  height:calc(100vh - 148px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 5px;
}
.pal_content_image {
  scroll-snap-align: start;
  /*border: 1px solid black;
  margin: 1px;
  float: left;
  image-rendering: pixelated;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  background: #8B8B8B no-repeat center center / 32px 32px;
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
  /* position: absolute; */
  image-rendering: pixelated;
  position: relative;
  display: inline-block;
  background: #8B8B8B;
  border: 3px solid;
  border-color: #373737 #FFF #FFF #373737;
  width: 48px;
  height: 48px;
  font-size: 16px;
  margin: 0px;
  margin-top: -4px;
}
.pal_content_image::before {
  bottom: -3px;
  left: -3px;
  content: "";
  position: absolute;
  background-color: #8B8B8B;
  height: 3px;
  width: 3px;
  pointer-events: none;
}
.pal_content_image::after {
  top: -3px;
  right: -3px;
  content: "";
  position: absolute;
  background-color: #8B8B8B;
  height: 3px;
  width: 3px;
  pointer-events: none;
}
.pal_content_image:hover {
  box-shadow: inset 0 0 0px 24px rgba(255,255,255,0.5);
  /*background-color:rgba(255,255,255,0.5)
  background-color: rgb(255,255,255);
  opacity: 0.20;
  -moz-opacity: 50%;
  -webkit-opacity: 50%;*/
}
.v1_12 {
  background-image: url(../image-files/1.12/top.png );
  background-size: 768px 12288px;
}
.v1_14 {
  background-image: url(../image-files/1.14/1.14.png );
  background-size: 1536px 1536px;
}
#block_ul {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #bbb;
    background-color: #C6C6C6;
    padding-top: 4px;
    scroll-snap-type: y mandatory;
}
.selected {
  /*border: 3px solid blue;*/
  position: relative;
  z-index:9;
  /*transform: translate(4px,-8px);*/
}
.selected::after {
  content: "";
  /*background-color: rgba(0,0,0,0);*/
  background-color: rgba(0,0,0,0);
  box-shadow: 0px 0px 20px 5px #000;
  /*width:48px;
  height:48px;
  top:0px;
  left:0px;*/
  width:54px;
  height:54px;
  z-index: 10;
}
.selected::before {
  box-shadow: 51px -51px 0px #8B8B8B;
}
#tooltip {
    z-index: 10;
    position: absolute;
    border: 2px solid #2C0863;
    border-radius: 6px 6px;
    background: rgba(19,5,19,0.9);
    box-shadow: 0px 0px 0 2px #000;
    padding: 4px 10px;
    color: #fff;
    /* display: none; */
    font-family: 'minecraft';
    font-size: 16px;
    font-weight: normal;
    transition: opacity 0.3s;
    display: block;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}
#d_el {
  text-shadow:2px 2px #413E40
}
#b_el{
  color:#595659;
  text-shadow:2px 2px #141314;
}
