body {
  overflow: hidden;
}
img,canvas {
  image-rendering: pixelated;
}
#header {
  font-family: sans-serif;
}
#navbar {
  width:100%;
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  overflow: hidden;
  margin-bottom:10px;
}
#navbar a {
  padding: 14px 16px;
  float: left;
  /*background-color: #ff00ff;*/
  text-decoration:none;
  color:black;
}
#navbar a:hover {
  /*background-color: #ff0000;*/
}
#navbar a.active {
  color:blue;
}
#right-sidebar {
  float:right;
  width:250px;
  height:calc(100vh - 148px);
  overflow-y: scroll;
  overflow-x: hidden;
}
#version-changer {
  position: relative;
  top:-6px;
}
#Graphicsvisulator, #Gridvisulator {
  position: absolute;
}
#Graphicsvisulator {
  z-index: 999;
}
#canvas_holder {
  position: relative;
  /*top:100px*/
}
.pal_content_image {
  border: none;
  border: 1px solid black;
  margin: 2px;
  float: left;
  background-image: url(../image-files/1.12/top.png );
  background-size: 768px 12288px;
  image-rendering: pixelated;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  /* position: absolute; */
}
#block_ul {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #bbb;
}
.selected {
    box-shadow: 0px 0px 0px 2px rgba(0,174,255,1);
}
